body {
  /* background-color: #774ae1; */
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(
    83.2deg,
    rgb(88, 29, 175) 10.8%,
    rgb(203, 88, 238) 94.3%
  );
}
p {
  color: #8d8d8d;
  /* margin: 0.2em; */
}

.main-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
}
.principal {
  background-color: aliceblue;
  height: 85%;
  width: 85%;
  margin-top: 0.5em;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
a {
  text-decoration: none;
}
#principal > a > p {
  margin: 2em 0em;
  font-size: 12px;
  color: rgb(110, 110, 110);
  text-decoration: none;
}
#logo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo-title > #logo {
  width: 80%;
  /* background-color: #667eea; */
  background-image: linear-gradient(135deg, #b7c2f1 0%, #c8ade4 100%);
  border-radius: 80%;
  margin-top: 1em;
}
#logo2{
  width: 70%;
  border-radius: 80%;
}
form {
  width: 90%;
  /* background-color: #00dbde; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  outline: none;
  border: none;
  width: 80%;
  padding: 1em 1em;
  margin: 0.5em 0em;
  background-color: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.principal3 {
  background-color: aliceblue;
  height: 85%;
  width: 85%;
  margin-top: 0.5em;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn-1 {
  text-decoration: none;
  color: white;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  margin-top: 0.2em;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  transition: all 1s ease-in-out;
}
.btn-1:hover {
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}

#canvas-container{
  /* background-color: rgb(14, 97, 170); */
  position: relative;
  height: 40%;
  width: 90%;
} 

/* ----------------------------SIGN UP PAGE -------------------------------------------------*/
header {
  width: 100%;
  height: 8%;
  /* border-radius: 0px 0px 8px 8px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: aliceblue;
}
#fake-nav {
  width: 100%;
  height: 5%;
  background-color: rgba(240, 248, 255, 0);
}
header > img {
  width: 10%;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #b7c2f1 0%, #c8ade4 100%);
}
header > nav {
  width: 80%;
  /* border-radius: 8px; */
  margin-right: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
 
}
.principal > form > h4 {
  margin: 1em;
}
.principal > a > p {
  margin: 1em;
}
header > nav > h5 {
  color: #919191;
  margin-right: 2em;
}
header > nav > img {
  width: 10%;
  border-radius: 50%;
  background-color: #00dbde;
}
.icon {
  width: 5%;
  margin-right: 0.8em;
}
.btn-2 {
  background-color: #764ba2;
  color: white;
  padding: 1em 2em;
  margin-left: 1em;
  border-radius: 8px;
  font-size: small;
  cursor: pointer;
}
.principal2 {
  height: 85%;
  /* background-color: #b7c2f1; */
  width: 85%;
  margin-top: 0.5em;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

#questions {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}
.principal2 > #questoion-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 30%;
  border-radius: 8px;
  background-color: #fafbff;
  color: #5c5c5c;
}

.welcome {
  color: #272727;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 90%;
  height: 20%;
  /* padding: 0.5em 0.5em; */
  margin: 0.5em;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: #5a5a5a;
  transition: all 0.4s ease-in-out;
}
label:hover {
  background-color: #a130e2;
  border: 1px solid white;
  color: whitesmoke;
}
input[type="radio"] {
  display: none;
}
.principal3>p{
  font-size:14px;
  text-align: center;
  margin:1em 0em;
}
#options-div {
  /* background-color: #fc00ff;  */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}
.mensaje{
 
  width: 95%;
  height: 85%;
  background-color: #ffffff;
  z-index : 50;
  position: absolute;
  border-radius: 8px;
  /* margin-top: auto;
  margin-bottom: auto; */
  display: none;
  /* margin-bottom: 6rem; */
  justify-content: center;
  align-items: center;
  flex-direction:column;
  color: rgb(109, 8, 168);
  transition: all 0.6s linear;
  
}
.mensaje{
  text-align: center;
  font-size: 30px;
}
#finalScore{
  font-weight: 800;
  font-size: 70px;
  margin-top: 0px;
  color:rgb(39, 12, 61);
  transform: rotate(8deg);
}
#finalScore::first-letter{
  color: rgb(180, 60, 216);
}
#score {
  font-size: 100px;
}
.hide{
  display: none;
  opacity: 0;
}
.correcta {
  border: 2px solid rgb(51, 245, 116);
}
.incorrecta {
  border: 2px solid rgb(245, 51, 83);
}

#myChart {
  width: 100%;
}
.principal3>h2 {
  color: rgb(119, 119, 119);
}
#username{
  color: rgb(61, 61, 61)
}
#punto{
  background-color: #43802b;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

/*----------------MEDIA-QUERYS---------------------  */
@media only screen and (min-width: 400px) {
  .principal2 {
    width: 60%;
  }
  .mensaje{
    width: 60%;
  }
 
  .principal3 {
    width:70%;
    padding: 0;
    justify-content: space-around; 
  }
  .principal3>.btn-1{
    margin-bottom: 1rem;
    background-color: black;
  }
  .options-div{
    background-color: #00dbde;
  }
  label {
  width: 40%;
  height: 5em;
  padding: 0.5em 0.5em;
  margin: 0.5em;
  border-radius: 8px;
  
  }
  
  #questions {
    width: 100%;
    height: 100%;
   /* background-color: #de0068;  */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
 #options-div{
    width:100%;
    height: 20%;
    margin-bottom: 4em;
  }
  #questions>#questoion-div{
    height:40%;
    /* background-color: #00dbde; */
  }
  #canvas-container{
    position: relative;
    height: auto ;
  } 
  .principal3>p{
    font-size:18px;
    text-align: center;
    margin:0.2em 0em;
  }
  
}
@media only screen and (min-width: 900px) {

  .principal3 {
    width:50%;
    padding: 0;
    justify-content: space-around; 
  }
}